# Supabase Credentials
SUPABASE_URL=https://ltgzosjkpvdaspapzqgc.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx0Z3pvc2prcHZkYXNwYXB6cWdjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY3ODM4MDMsImV4cCI6MjA5MjM1OTgwM30.hIIrKaORPnwebtqli0c-3JWxW1NQl1d7jpTrK1tR34o
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx0Z3pvc2prcHZkYXNwYXB6cWdjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Njc4MzgwMywiZXhwIjoyMDkyMzU5ODAzfQ.7UqPCVgng5muG_EWTZZACka3wyhqe2bJ4PBfjnuxvlU

# Email Service (Resend)
RESEND_API_KEY=re_bYKqpi3W_NCxhoEiUbikDs8q5dcwzjQuy

# App Config
CLIENT_URL=http://localhost:5173
PORT=5000
NODE_ENV=development
